// Color Variables

$color-primary: #3282b8;
$color-primary-dark-1: #0f4c75;
$color-primary-dark-2: #1b262c;
$color-primary-light: #bbe1fa;

$color-secondary: #ffd300;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-vermilion: #d9381e;
$color-emerald: #046307;
$color-magenta: #8b008b;
// Font Variables

$font-headers: "Nunito", sans-serif;
$font-display: "Roboto", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  font-size: 1.3rem;
}
a:hover,
a:link,
a:visited {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-display;
  color: $color-primary;
  line-height: 1.6;
  font-weight: 400;
}

form {
  margin-bottom: 0;
}

textarea,
input,
select {
  margin: 0;
  vertical-align: bottom;
  resize: none;
}

.container {
  color: $color-white;
  display: grid;
  grid-template-rows: 80vh repeat(6, min-content);
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] 1fr [full-end];
}

// Headings

.paragraph {
  color: $color-primary-dark-2;
  font-size: 2rem;

  &__light {
    color: $color-white;
  }

  &__small {
    font-size: 1.3rem;
  }

  &__medium {
    font-size: 1.6rem;
  }
}

.heading-2 {
  color: $color-primary;
  text-transform: uppercase;
  font-size: 4rem;
  padding-top: 1rem;
  font-family: $font-headers;
  font-weight: 400;
  display: inline-block;
  letter-spacing: 0.5rem;

  // effects
  transition: all 0.5s;

  &::before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 40%;
    padding-bottom: 20px;
    border-bottom: 1.2rem dotted $color-grey-light-2;
  }

  &--light {
    color: $color-white;
    text-transform: uppercase;
    font-size: 4rem;
    padding-top: 1rem;
    font-family: $font-headers;
    font-weight: 400;
    display: inline-block;
    letter-spacing: 0.5rem;

    // effects
    transition: all 0.5s;

    &:hover {
      transform: scale(1.05) translateY(-1rem) skew(2deg);
    }

    &::before {
      content: "";
      display: block;
      margin: 0 auto;
      width: 40%;
      padding-bottom: 20px;
      border-bottom: 1.2rem dotted $color-grey-light-2;
    }
  }
}

.heading-3 {
  color: $color-white;
  text-transform: uppercase;
  font-size: 3rem;
  padding-top: 1rem;
  font-family: $font-headers;
  font-weight: 400;
  display: inline-block;
  letter-spacing: 0.3rem;

  &--dark {
    color: $color-primary;
    text-transform: uppercase;
    font-size: 2rem;
    padding-top: 1rem;
    font-family: $font-headers;
    font-weight: 400;
    display: inline-block;
    letter-spacing: 0.1rem;
  }
}

// Buttons

.btn--outline {
  &,
  &:link,
  &:visited {
    width: 20rem;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    display: inline-block;
    background-color: transparent;
    border: 2px solid $color-white;
    color: $color-white;
    transition: all 0.3s;
    font-size: 1.5rem;
  }

  &:hover {
    background-color: $color-white;
    color: $color-primary;
    box-shadow: 0 0.5rem 1rem rgba($color-white, 0.3);
    transform: translateY(-0.5rem);
  }

  &:active,
  &:focus {
    transform: translateY(-0.2rem);
    outline: none;
    box-shadow: 0 0.2rem 1rem rgba($color-white, 0.2);
  }
}

.btn--fill {
  &,
  &:link,
  &:visited {
    width: 20rem;
    cursor: pointer;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    display: inline-block;
    background-color: $color-primary;
    border: none;
    color: $color-white;
    transition: all 0.3s;
    font-size: 1.5rem;
  }

  &:hover {
    background-color: $color-secondary;
    color: $color-white;
    box-shadow: 0 0.5rem 1rem rgba($color-primary, 0.3);
    transform: translateY(-0.5rem);
  }

  &:active,
  &:focus {
    transform: translateY(-0.2rem);
    outline: none;
    box-shadow: 0 0.2rem 1rem rgba($color-white, 0.2);
  }
}

// Margins

.margin-bottom-sm {
  margin-bottom: 3rem;
}

.margin-bottom-md {
  margin-bottom: 5rem;
}

.margin-bottom-lg {
  margin-bottom: 7rem;
}
