.footer {
  background-color: $color-grey-dark-3;
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__row--1 {
    padding: 3rem;
    border-bottom: 1px solid $color-grey-light-1;
  }

  &__row--2 {
    padding: 3rem;
    width: 30%;
  }

  &__row--3 {
    padding: 3rem;
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    margin: 2rem;
    fill: $color-white;
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    color: $color-white;
  }
}
